.container_footer {
    background-color: #222;
    bottom: 0;
    color: #FFF;
    font-family: monospace;
    letter-spacing: 3px;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}
