.container_screen {
    left: 5px;
    position: absolute;
    top: 10px;
    width: 95%;
}

.screen {
    height: 45px;
    outline: 2px ridge #000;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8em;
}
